<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Insert title here</title>
</head>
<body>
	<img th:src="@{~/place/engyt.jpg}" width="200" height="200"><br>
	<form action="/engyt">
	<select name="pplcount">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="4">4</option>
	<option value="6">6</option>
	</select>
	<input type="radio" name="airline" value="china">
	<label for="china">china airline</label>
	<input type="radio" name="airline" value="eva">
	<label for="eva">eva airline</label>
	<select name="days">
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<input type="submit" value="click">
	</form>
      
      <img  th:src="@{~/place/japan.jpg}" width="200" height="200"><br>
      <form action="/japan">
	<select name="pplcount">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="4">4</option>
	<option value="6">6</option>
	</select>
	<input type="radio" name="airline" value="china">
	<label for="china">china airline</label>
	<input type="radio" name="airline" value="eva">
	<label for="eva">eva airline</label>
	<select name="days">
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<input type="submit" value="click">
	</form>
      <img  th:src="@{~/place/russia.jpg}" width="200" height="200"><br>
      <form action="/russia">
	<select name="pplcount">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="4">4</option>
	<option value="6">6</option>
	</select>
	<input type="radio" name="airline" value="china">
	<label for="china">china airline</label>
	<input type="radio" name="airline" value="eva">
	<label for="eva">eva airline</label>
	<select name="days">
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<input type="submit" value="click">
	</form>
      <img  th:src="@{~/place/swiss.png}" width="200" height="200"><br>
      <form action="/swiss">
	<select name="pplcount">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="4">4</option>
	<option value="6">6</option>
	</select>
	<input type="radio" name="airline" value="china">
	<label for="china">china airline</label>
	<input type="radio" name="airline" value="eva">
	<label for="eva">eva airline</label>
	<select name="days">
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<input type="submit" value="click">
	</form>
     <img  th:src="@{~/place/sydney.jpg}" width="200" height="200"><br>
      <form action="/sydney">
	<select name="pplcount">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="4">4</option>
	<option value="6">6</option>
	</select>
	<input type="radio" name="airline" value="china">
	<label for="china">china airline</label>
	<input type="radio" name="airline" value="eva">
	<label for="eva">eva airline</label>
	<select name="days">
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<input type="submit" value="click">
	</form>
      <img  th:src="@{~/place/washington-white-house-2.jpg}" width="200" height="200"><br>
      <form action="/washington">
	<select name="pplcount">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="4">4</option>
	<option value="6">6</option>
	</select>
	<input type="radio" name="airline" value="china">
	<label for="china">china airline</label>
	<input type="radio" name="airline" value="eva">
	<label for="eva">eva airline</label>
	<select name="days">
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<input type="submit" value="click">
	</form>

</body>
</html>