<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>

		<h2>REGISTER</h2>
        <form action="/add" method="POST">
           	account:<input type="text" name="username"><br>
            password:<input type="password" name="password"><br>
            birthday:<input type="text" name="birthday"><br>
            address:<input type="text" name="address"><br>
            email:<input type="text" name="email"><br>
            phone:<input type="text" name="phone"><br>
            <input type="submit" value="click">
        </form>
</body>
</html>